body {
    background: #f6cafa;
    font-family: Verdana, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Exo 2', sans-serif;
}

header,main,footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    min-width: 855px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: whitesmoke;
    overflow: auto;
}

.header_text {
    margin-left: 100px;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

.header_nav_links {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
}

.header_nav_item{
    font-family: 'Exo 2', sans-serif;
    font-size: 125%;
    text-decoration: none;
    margin-top: 5px;
    padding: 5px;
    color: black;
    transition: .2s ease-in;
}

.header_nav_item:hover{
    background-color: rgb(193, 63, 226);
    border-radius: 6px;
    color: white;
    transform: scale(1.1);
}


main {
    background-color: white;
    overflow: auto;
    padding: 3% 10%;
}

.main_tabs{
    display: flex;
    justify-content: space-between;
}

.main_tabs_item span{
    display: inline-block;
    border-radius: 5px 20px 0 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 110%;
    width: 150px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.main_tabs_item span.active{
    background: #eee;
}

.content {
    padding: 0 20px 20px 20px;
    overflow: auto;
    background: #ddd;
}

.content_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    font-family: 'Exo 2', sans-serif;
}

.content_items_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background: white;
}

.content_items_item_name{
    text-align: center;
}

/* .content_items_item_price{

}*/

.content_items_item_button{
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    background-color: rgb(193, 172, 228);
    border-radius: 10px;
}

/* =======for faq.html======== */
.main_faqs {
    min-width: 855px;
    font-family: 'Exo 2', sans-serif;
    list-style-type: none;
}

.QA {
    font-weight: bold;
    font-size: 1.4em;
}
/* =======/for faq.html======== */


/* =======for about.html======== */
.container_about{
    display: flex;
    flex-direction: column;
}

.container_about_elem{
    margin-top: 3%;
}

.container_about_elem_left{
    float: left;
    width: 50%;
}

.container_about_elem_right{
    float: right;
    width: 50%;
}

.container_about_elem_left img{
    margin-left: 5%;
}

.container_about_elem_right img{
    margin-left: 10%;
}
/* =======/for about.html======== */


footer {
    background-color: whitesmoke;
    overflow: auto;
}

.footer_contact {
    float: left;
    width: 570px;
    margin-left: 50px;
}

.footer_contact_title{
    font-family: 'Exo 2', sans-serif;
    font-size: 100%;
}

.footer_contact_name {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.footer_sitemap {
    float: right;
    width: 285px;
    margin-right: 100px;
    text-align: center;
}

.footer_sitemap_title{
    font-family: 'Exo 2', sans-serif;
    font-size: 100%;
    text-align: center;
}

.footer_sitemap_mapleft {
    float: left;
}

.footer_sitemap_list{
    list-style-type: none;
    margin: 0;
}

.footer_sitemap_mapright {
    float: right;
}

.footer_sitemap_list_item {
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    color: black;
}

.footer_sitemap_list_item:hover{
    text-decoration: underline;
}

.content_container_popup {
    display: flex;
    font-family: 'Exo 2', sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0;
}
.content_popup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 40px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.content_popup_button{
    font-size: 1em;
    margin-top: 10px;
    background-color: rgb(193, 172, 228);
    border-radius: 10px;
    grid-column: 1 / 3;
}

.sucscess{
    font-size: 1.2em;
    grid-column: 1 / 3;
}